* {
    margin: 0;
    padding: 0;
}

.nav-link, .dropdown-item {
    margin-top: .3rem;
    font-size: .90rem;
    color: rgb(46, 46, 46);
}

.img_logo {
    height: 2rem;
    margin-bottom: 0rem;
}
.nav-link:hover {
    text-decoration: underline;
}